<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/forms.css" />
  <title>Become an admin</title>
</head>

<body>
  <%- include('navbar') %>
  <main>
    <div>
      To become an admin, please enter the password that
      <a href="https://github.com/NestorNebula">Nestor Nebula</a> gave you.
    </div>
    <% if (locals.error) { %>
    <div class="errors"><%= error %></div>
    <% } %>
    <form action="/admin" method="POST">
      <div class="form-input">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
      </div>
      <button>Submit</button>
    </form>
  </main>
  <%- include('footer') %>
</body>

</html>