<footer>
  <div class="credits">
    <a href="https://pictogrammers.com/library/mdi/">Icons from Material Design Icons - Google</a>
    <a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by Abdul-Aziz - Flaticon</a>
  </div>
  <div class="cr">
    © Noa Houssier <a href="https://github.com/NestorNebula"><img class=" gh-icon icon" src="/assets/icons/github.svg" alt="Github account"></a> 2024
  </div>
</footer>