<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (!locals.user) { %>
    <div>
      <div>You aren't logged in</div>
      <a href="/sign-up">Sign-Up</a>
      <div>Already have an account ?</div>
      <a href="/log-in">Log-In</a>
    </div>
    <% } else { %>
    <div>Hello, <%= user.first_name, user.last_name %></div>
    <a href="/log-out">Log Out</a>
    <% } %>
  </body>
</html>
