<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar') %> 
    <% if (user) { %>
    <div>Hello, <%= user.first_name, user.last_name %></div>
    <a href="/log-out">Log Out</a>
    <% } %>
  </body>
</html>
